outlet-item {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 32px;
}

@media screen and (max-width: 499px) {
    .header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        position:relative;
        z-index: 11;
    }

    .header__title {
        font-size: 30px;
    }

    .nav {
        z-index: 10;
        background-color: #fff;
        width: 100%;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(0, -300px);
        transform: translate(0, -300px);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 500px) {
    .header__menu {
        display: none;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
      }

    .menu > ul {
        padding-left: 4em;
    }
}


@media screen and (min-width: 700px) {
    outlet-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px) {

    .hero {
        background-image: url("../public/images/heros-sharp/hero-image_3-large.jpg");
    }
}

@media screen and (min-width: 900px) {

    outlet-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .latest {
        max-width: 1200px;
    }

    .hero {
        min-width: 1000px;
        object-fit: cover;
    }
}

@media screen and (min-width: 650px) {
    
   
    .outlet {
        grid-template-columns: auto 1fr;
    }
   
    .outlet .outlet__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
   
    .outlet .outlet__overview {
        grid-column-start: 1;
        grid-column-end: 3;
    }
  }
